[user]
	email = 33615041+SeanCassiere@users.noreply.github.com
	name = SeanCassiere
	signingkey = F17076B49F553040
[core]
	editor = code --wait
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
